<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_type.description%>
</p>


<p>Enrolees</p>
<p>
  <% @event_type.enrollees.each do |person|  %>
    <p><%= person.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_workspace_event_type_path(current_workspace, @event_type) %> |
<%= link_to 'Back', admin_workspace_event_types_path(current_workspace) %>
